{% extends "docs.njk.html" %}

{% block content %}
<!-- NAVBAR -->
<h1 id="navbar" class="text-brand">Navbar</h1>

<p>A CSS only, responsive navbar.</p>

<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler1" />
        <label class="burger-btn" for="menu-toggler1">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand">Your brand</a>
        
        <div class="navbar-content">
            
            <a class="link">Link 1</a>
            <a class="link">Link 2</a>
            <a class="link">Link 3</a>
            <a class="link">Link 4</a>
    
        </div>
    
    </nav>
</div>

<br>

<p>Just add the <code>navbar</code> class to your <code>nav</code> element, 
and add every <code>link</code> element that you want to be responsive inside 
the <code>navbar-content</code>.</p>
<pre class="prettyprint lang-html">
<nav class="navbar">

    <!-- CSS animated menu icon -->
    <input class="menu-toggle" type="checkbox" id="menu1" />
    <label class="burger-btn" for="menu1">
        <span class="burger-icon"></span>
    </label>

    <!-- This link will stay here on mobile and tablet -->
    <a class="link text-brand" href="/">Your brand</a>

    <!-- This content will be responsive on mobile and tablet -->
    <div class="navbar-content">

        <a class="link" href="#">Link 1</a>
        <a class="link" href="#">Link 2</a>
        <a class="link" href="#">Link 3</a>
        <a class="link" href="#">Link 4</a>

    </div>

</nav>
</pre>

<br>

<p>The checkbox input with the <code>menu-toggle</code> class handles the responsiveness 
through the label with the <code>burger-btn</code> class, which is the hamburger button.</p>

<br>

<p>You may want to place your navbar items at the end of the navbar. If that's the case, 
you just need to wrap them with an element with the <code>navbar-end</code> class:</p>

<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler2" />
        <label class="burger-btn" for="menu-toggler2">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand">Your brand</a>
        
        <div class="navbar-content">
            
            <div class="navbar-end">
                <a class="link">Link 1</a>
                <a class="link">Link 2</a>
                <a class="link">Link 3</a>
                <a class="link">Link 4</a>
            </div>
    
        </div>
    
    </nav>
</div>

<pre class="prettyprint lang-html">
<nav class="navbar">

    <input class="menu-toggle" type="checkbox" id="menu2" />
    <label class="burger-btn" for="menu2">
        <span class="burger-icon"></span>
    </label>

    <a class="link text-brand" href="/">Your brand</a>

    <div class="navbar-content">

        <!-- Items placed at the end -->
        <div class="navbar-end">
            <a class="link" href="#">Link 1</a>
            <a class="link" href="#">Link 2</a>
            <a class="link" href="#">Link 3</a>
            <a class="link" href="#">Link 4</a>
        </div>

    </div>

</nav>
</pre>

<br>

<p>Or if you only need some of the items at the end as below:</p>
<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler3" />
        <label class="burger-btn" for="menu-toggler3">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand">Your brand</a>
        
        <div class="navbar-content">
            <a class="link">Link 1</a>
            
            <div class="navbar-end">
                <a class="link">Link 2</a>
                <a class="link">Link 3</a>
                <a class="link">Link 4</a>
            </div>
    
        </div>
    
    </nav>
</div>

<pre class="prettyprint lang-html">
<nav class="navbar">

    <input class="menu-toggle" type="checkbox" id="menu3" />
    <label class="burger-btn" for="menu3">
        <span class="burger-icon"></span>
    </label>

    <a class="link text-brand" href="/">Your brand</a>

    <div class="navbar-content">

        <!-- This item placed at the left side -->
        <a class="link" href="#">Link 1</a>
        
        <!-- And these placed at the end -->
        <div class="navbar-end">
            <a class="link" href="#">Link 2</a>
            <a class="link" href="#">Link 3</a>
            <a class="link" href="#">Link 4</a>
        </div>

    </div>

</nav>
</pre>

<br>

<p>Another use case, is that you may need one or more items to stay in the 
navbar even on mobile and tablet. You just need to put them outside the 
<code>navbar-content</code> to achieve that. In the following example, the <b>Link 1</b> 
will stay visible on mobile and tablet, and the other links will be moved into the 
responsive menu:</p>
<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler4" />
        <label class="burger-btn" for="menu-toggler4">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand">Your brand</a>
        <a class="link">Link 1</a>
        
        <div class="navbar-content">
            <a class="link">Link 2</a>
            
            <div class="navbar-end">
                <a class="link">Link 3</a>
                <a class="link">Link 4</a>
            </div>
    
        </div>
    
    </nav>
</div>
<pre class="prettyprint lang-html">
<nav class="navbar">

    <input class="menu-toggle" type="checkbox" id="menu4" />
    <label class="burger-btn" for="menu4">
        <span class="burger-icon"></span>
    </label>

    <a class="link text-brand" href="/">Your brand</a>

    <!-- This item will stay here -->
    <a class="link" href="#">Link 1</a>

    <div class="navbar-content">
        <a class="link" href="#">Link 2</a>
        
        <div class="navbar-end">
            <a class="link" href="#">Link 3</a>
            <a class="link" href="#">Link 4</a>
        </div>

    </div>

</nav>
</pre>

<br>
<p>And if you want that item to stay at the end of the navbar, just put it after the 
<code>navbar-content</code> inside the <code>navbar-end</code> element, as in the example below
with the <b>Link 4</b>:</p>
<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler5" />
        <label class="burger-btn" for="menu-toggler5">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand">Your brand</a>
        
        <div class="navbar-content">
            <a class="link">Link 1</a>
            
            <div class="navbar-end">
                <a class="link">Link 2</a>
                <a class="link">Link 3</a>
            </div>
    
        </div>

        <div class="navbar-end">
            <a class="link">Link 4</a>
        </div>
    
    </nav>
</div>
<pre class="prettyprint lang-html">
<nav class="navbar">

    <input class="menu-toggle" type="checkbox" id="menu5" />
    <label class="burger-btn" for="menu5">
        <span class="burger-icon"></span>
    </label>

    <a class="link text-brand" href="/">Your brand</a>

    <div class="navbar-content">
        <a class="link" href="#">Link 1</a>
        
        <div class="navbar-end">
            <a class="link" href="#">Link 2</a>
            <a class="link" href="#">Link 3</a>
        </div>

    </div>

    <div class="navbar-end">
        <!-- This item will stay here, at the end -->
        <a class="link" href="#">Link 4</a>
    </div>

</nav>
</pre>

<br>

<p>
You can put the burger button at the end of the navbar, just move it and add the 
<code>to-end</code> class to the <code>burger-btn</code> like this:

<div style="position: relative;">
    <nav class="navbar">

        <a class="link text-brand" href="/">Your brand</a>
    
        <input class="menu-toggle" type="checkbox" id="menu-toggler6" />
        <label class="burger-btn to-end" for="menu-toggler6">
            <span class="burger-icon"></span>
        </label>
    
        <div class="navbar-content">
            <a class="link" href="#">Link 1</a>
            <a class="link" href="#">Link 2</a>
            <a class="link" href="#">Link 3</a>
            <a class="link" href="#">Link 4</a>
        </div>
    
    </nav>
</div>

<pre class="prettyprint lang-html">
<nav class="navbar">

    <a class="link text-brand" href="/">Your brand</a>

    <!-- This burger button will stay at the end -->
    <input class="menu-toggle" type="checkbox" id="menu6" />
    <label class="burger-btn to-end" for="menu6">
        <span class="burger-icon"></span>
    </label>

    <div class="navbar-content">
        <a class="link" href="#">Link 1</a>
        <a class="link" href="#">Link 2</a>
        <a class="link" href="#">Link 3</a>
        <a class="link" href="#">Link 4</a>
    </div>

</nav>
</pre>

</p>

<br>

<p>Finally, if you want the navbar to be fixed at the top, you'll just need to 
add the <code>fixed</code> class:</p>
<pre class="prettyprint lang-html">
<nav class="navbar fixed">
    ...
</nav>
</pre>
{% endblock %}