{% extends "docs.njk.html" %}

{% block content %}
<!-- GETTING STARTED -->
<h1 class="text-brand">Getting started</h1>
<p>This is an open source CSS only framework. Its main objective is 
to be a fresh alternative to build high quality websites on the market.</p>

<h2>Quick start</h2>
<p>You may use the CDN for a quick start:</p>

<ul style="width: 100%; overflow-x: auto;">
    <li class="text-brand">https://cdn.statically.io/gh/isradeleon/coraline/0.5.3/coraline-v0.5.3/coraline.min.css</li>
</ul>

<br>

<h2>Easy installation</h2>
<p>You may install the framework from npm or <a href="https://github.com/isradeleon/coraline/releases/download/0.5.3/coralinecss.zip">download the current version here</a>. 
Then just import the minified CSS file into your project. Here is the folder structure:</p>

<strong>coralinecss</strong>
<ul>
    <li>
        coraline-v0.5.3
        <ul>
            <li>coraline.min.css</li>
        </ul>
    </li>
    <li>base.scss</li>
    <li>base.css</li>
    <li>README.md</li>
    <li>LICENSE</li>
</ul>

<p>The <span class="text-brand">coraline-v0.5.3/coraline.min.css</span> file is production ready.</p>

<br>

<h2>NPM</h2>
<p>Just do <code>npm install coralinecss</code> from your terminal. After installing, 
you'll find the <span class="text-brand">coraline-v0.5.3</span> folder with the production 
minified file. Outside this folder, you'll find the <span class="text-brand">base.scss</span> 
and <span class="text-brand">base.css</span> development files.</p>

<br>

<h2>No dependencies</h2>
<p>
    Coraline has no dependencies and no Javascript code. Use Coraline with your favorite 
    Javascript framework.
</p>

<br>

<h2>Customization</h2>
<p>The <span class="text-brand">base.scss</span> can be used if you want to customize 
Coraline colors with the Sass variables. This is the list of predefined colors:</p>

<ul>
    <li class="text-brand">Brand</li>
    <li class="text-primary">Primary</li>
    <li class="text-secondary">Secondary</li>
    <li class="text-info">Info</li>
    <li class="text-warning">Warning</li>
    <li class="text-success">Success</li>
    <li class="text-danger">Danger</li>
</ul>

<br>

<p>And to customize them:</p>

<pre class="prettyprint lang-sass">
// Set your brand color
$brand: #ff7675;

// Set the contrast color,
// the default value is white
$contrast-brand: black;

// Define the rest of the colors
$primary: #6c5ce7;
$secondary: #0984e3;

$info: #74b9ff;
$contrast-info: black;

$success: #1dd1a1;
$danger: #ee5253;

$warning: #f7b731;
$contrast-warning: black;

$black: #2d3436;

// Set the font family
$font-family: Helvetica;
$font-weight: 400;

// Import Coraline scss file
@import "base.scss";
</pre>
{% endblock %}